body {
    padding: 20px; /* Añade relleno al cuerpo de la página */
    margin: 20px; /* Añade margen al cuerpo de la página */
  }

  .card {
    margin-bottom: 20px; /* Añade margen en la parte inferior de la tarjeta */
  }

  .form-floating, .form-check, .form-floating.mb-3 {
    margin-bottom: 20px; /* Añade margen en la parte inferior de los elementos del formulario */
  }

/* Asegúrate de que los elementos se alineen correctamente en dispositivos pequeños */
@media (max-width: 767px) {
  .form-floating {
    width: 100%; /* Asegura que los elementos ocupen todo el ancho en dispositivos pequeños */
  }
}


