<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card" style="width: 18rem; border-radius: 10px;">
            <img src="https://th.bing.com/th/id/OIP.NqY3rNMnx2NXYo3KJfg43gHaHa?pid=ImgDet&rs=1" class="card-img-top">
          </div>
        </div>
        <div class="col-md-6">
          <br>
          <br>
          <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Nombre:</p>
          <br>
          <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Departamento:</p>
          <br>
          <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Area:</p>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered caption-top">
            <caption>Solicitudes</caption>
            <thead>
                <tr>
                  <th scope="col">Fecha Solicitud</th>
                  <th scope="col">Rango/Tiempo</th>
                  <th scope="col">Motivo</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>12/05/2023</td>
                    <td>3 horas</td>
                    <td>Me gustaria informarle con anticipacion...</td>
                    <td>Pendiente</td>
                    <td></td>
                  </tr>
              </tbody>
          </table>
      </div>